In [1]:
from simple_fpa import Model
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/haile_data_prepared.csv', index_col=0)
df.head()

,auctionid,hhi,forest,adv_value,year,state,volume_total_1,actual_bid
0,0,0.469303,3,757400.0,82,30,620.0,3648800.0
1,1,0.668490,3,17839040.0,82,30,2590.0,21959040.0
2,2,0.732514,3,266000.0,82,30,460.0,1354560.0
3,3,0.593864,3,813790.0,82,30,370.0,1903830.0
4,4,0.797551,3,3115010.0,82,30,350.0,4169010.0

In [4]:
model = Model(data = df, auction_ids = ['auctionid'], bids = 'actual_bid')
model.count_bidders_by_auction_id()

In [5]:
model.data

,auctionid,hhi,forest,adv_value,year,state,volume_total_1,actual_bid,_bidders
0,0,0.469303,3,757400.0,82,30,620.0,3648800.0,2
16469,0,0.469303,3,757400.0,82,30,620.0,3062000.0,2
1,1,0.668490,3,17839040.0,82,30,2590.0,21959040.0,3
16470,1,0.668490,3,17839040.0,82,30,2590.0,19915520.0,3
32938,1,0.668490,3,17839040.0,82,30,2590.0,18982940.0,3
...,...,...,...,...,...,...,...,...,...
16467,16467,0.517578,5,5268406.0,79,2,704.0,10101010.0,3
51388,16468,0.572949,5,257937460.0,79,2,31620.0,278831500.0,4
32937,16468,0.572949,5,257937460.0,79,2,31620.0,308820020.0,4
44242,16468,0.572949,5,257937460.0,79,2,31620.0,295258960.0,4
16468,16468,0.572949,5,257937460.0,79,2,31620.0,352799860.0,4

In [6]:
model.frec

{3: 0.2053556733269693,
 4: 0.18288949603344415,
 2: 0.1699858454853682,
 5: 0.1558642483294381,
 6: 0.10813390829191218,
 7: 0.0733895124921821,
 9: 0.06014022844728266,
 8: 0.04424108759340334}