In [1]:
from simple_fpa import Model
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/haile_data_prepared.csv', index_col=0)
df.head()

,auctionid,hhi,forest,adv_value,year,state,volume_total_1,actual_bid
0,0,0.469303,3,757400.0,82,30,620.0,3648800.0
1,1,0.668490,3,17839040.0,82,30,2590.0,21959040.0
2,2,0.732514,3,266000.0,82,30,460.0,1354560.0
3,3,0.593864,3,813790.0,82,30,370.0,1903830.0
4,4,0.797551,3,3115010.0,82,30,350.0,4169010.0

In [3]:
model = Model(data = df, auction_ids = ['auctionid'], bid = 'actual_bid')
model.count_bidders_by_auction_id()

TypeError: __init__() got an unexpected keyword argument 'bid'

In [ ]:
model.data

In [ ]:
model.frec